################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/RepData_PeerAssessment1/v15/.suo
/.vs/ProjectSettings.json
/.Rhistory
